In [2]:
import pandas as pd  # type: ignore

In [3]:
pd.__version__

'2.2.2'

In [4]:
df = pd.read_parquet("yellow_tripdata_2024-01.parquet")

In [16]:
len(df)

2964624

In [18]:
df.iloc[2964620:2964630]

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee
2964620,1,2024-01-31 23:13:07,2024-01-31 23:27:52,NaN,4.00,NaN,None,114,236,0,18.40,1.00,0.5,2.34,0.00,1.0,25.74,NaN,NaN
2964621,2,2024-01-31 23:19:00,2024-01-31 23:38:00,NaN,3.33,NaN,None,211,25,0,19.97,0.00,0.5,0.00,0.00,1.0,23.97,NaN,NaN
2964622,2,2024-01-31 23:07:23,2024-01-31 23:25:14,NaN,3.06,NaN,None,107,13,0,23.88,0.00,0.5,5.58,0.00,1.0,33.46,NaN,NaN
2964623,1,2024-01-31 23:58:25,2024-02-01 00:13:30,NaN,8.10,NaN,None,138,75,0,32.40,7.75,0.5,7.29,6.94,1.0,55.88,NaN,NaN

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2964624 entries, 0 to 2964623
Data columns (total 19 columns):
 #   Column                 Dtype
---  ------                 -----
 0   VendorID               int32
 1   tpep_pickup_datetime   datetime64[us]
 2   tpep_dropoff_datetime  datetime64[us]
 3   passenger_count        float64
 4   trip_distance          float64
 5   RatecodeID             float64
 6   store_and_fwd_flag     object
 7   PULocationID           int32
 8   DOLocationID           int32
 9   payment_type           int64
 10  fare_amount            float64
 11  extra                  float64
 12  mta_tax                float64
 13  tip_amount             float64
 14  tolls_amount           float64
 15  improvement_surcharge  float64
 16  total_amount           float64
 17  congestion_surcharge   float64
 18  Airport_fee            float64
dtypes: datetime64[us](2), float64(12), int32(3), int64(1), object(1)
memory usage: 395.8+ MB

In [6]:
from sqlalchemy import create_engine  # type: ignore

In [7]:
engine = create_engine("postgresql://root:root@localhost:5432/ny_taxi")

In [8]:
engine

Engine(postgresql://root:***@localhost:5432/ny_taxi)

In [23]:
df.to_sql(
    name="yellow_taxi",
    con=engine,
    if_exists="append",
    chunksize=20000,
    method="multi",
    index=False,
)

Exception ignored in: <bound method IPythonKernel._clean_thread_parent_frames of <ipykernel.ipkernel.IPythonKernel object at 0x1072b2e90>>
Traceback (most recent call last):
  File "/Users/fauzanghaza/Applications/miniconda3/envs/engineer/lib/python3.10/site-packages/ipykernel/ipkernel.py", line 775, in _clean_thread_parent_frames
    def _clean_thread_parent_frames(
KeyboardInterrupt:

In [ ]:
df.head(0).to_sql(name="yellow_taxi", con=engine)

In [10]:
%time df.to_csv('yellow_tripdata_test.csv',index=False)

CPU times: user 28.3 s, sys: 1.4 s, total: 29.7 s
Wall time: 30.7 s

In [ ]:
df = pd.read_csv("yellow_tripdata_test")

In [ ]:
df.info()

In [ ]:
df["tpep_pickup_datetime"] = pd.to_datetime(df["tpep_pickup_datetime"])
df["tpep_dropoff_datetime"] = pd.to_datetime(df["tpep_dropoff_datetime"])

In [ ]:
print(pd.io.sql.get_schema(df, name="yellow_taxi", con=engine))

In [ ]:
df_iter = pd.read_csv("yellow_tripdata_test.csv", iterator=True, chunksize=100000)

In [ ]:
df["tpep_pickup_datetime"] = pd.to_datetime(df["tpep_pickup_datetime"])
df["tpep_dropoff_datetime"] = pd.to_datetime(df["tpep_dropoff_datetime"])

In [ ]:
df.head(0).to_sql(name="yellow_taxi", con=engine, if_exists="replace")

In [ ]:
from time import time

In [ ]:
def insert_csv(csv, name, con, ifexist="fail"):
    print("importing data....")
    t_start = time()
    df_iter = pd.read_csv(csv, iterator=True, chunksize=100000)
    i = 0
    t_end = time()
    print(f"imported.... {t_end - t_start:.3f} second")
    print("insert to database.....")
    while True:
        t_start = time()
        i += 1
        df = next(df_iter)

        df["tpep_pickup_datetime"] = pd.to_datetime(df["tpep_pickup_datetime"])
        df["tpep_dropoff_datetime"] = pd.to_datetime(df["tpep_dropoff_datetime"])

        df.to_sql(name=name, con=con, if_exists=ifexist)
        t_end = time()

        print(f"inserted data batch [{i}]...... {t_end - t_start:.3f} second")

In [ ]:
insert_csv(
    csv="yellow_tripdata_test.csv", name="yellow_taxi", con=engine, ifexist="append"
)

In [ ]:
df = pd.read_parquet("yellow_tripdata_2024-01.parquet")

In [ ]:
# df.to_sql(name='yellow_taxi', con=engine, if_exists='replace', chunksize=100000)

29624